<style>
@import url('https://fonts.googleapis.com/css2?family=Tajawal:wght@300&display=swap');
</style>

*{
    margin: 0%;
    border: 0%;
    overflow-x: hidden;
    box-sizing: border-box;
    font-family: 'Tajawal', sans-serif;
}

section {
    width: 100vw;
    height: 100vh;

}

.one {
    background-image: url("./Assets/window\ glass.jpg");
    background-repeat: no-repeat;
    background-color: rgb(17, 3, 3);
}

