
@import url('https://fonts.googleapis.com/css2?family=Tajawal:wght@300&display=swap');

*{
    margin: 0%;
    border: 0%;
    overflow-x: hidden;
    box-sizing: border-box;
    font-family: 'Tajawal', sans-seri;
}


section {
    width: 100vw;
    height: 92vh;
    justify-content: center;
    align-items:center;
    scroll-snap-align: start;

}
.container {
    scroll-snap-type: y mandatory;
    overflow-y: scroll;
    height: 92vh;
    overflow-x: hidden;
    scroll-behavior: smooth;
    

}


body::-webkit-scrollbar {
  display: none;
}

/* Demonstrate a "mostly customized" scrollbar
 * (won't be visible otherwise if width/height is specified) */
.container::-webkit-scrollbar {
  width: 5px;
  height: 8px;
  background-color: rgb(0, 0, 0); /* or add it to the track */
  border-radius: 2px;
}

/* Add a thumb */
.container::-webkit-scrollbar-thumb {
    background: rgb(255, 255, 255);
    border-radius: 2px;
}


.text2 {
  font-size: 40px;
  margin-top: 6vh;
  color: rgb(254, 254, 255);
  margin-left: 100px;
  margin-right: 100px;
  text-align: center;

}
.text {
  margin-top: 65vh;
  color: rgb(254, 254, 255);
  margin-left: 100px;
  margin-right: 100px;
  text-align: center;

}
.one {
    background-image: url("./Assets/Desktop\ -\ 10.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-color: rgb(0, 0, 0);
    color: rgb(254, 254, 255);
}

/**************************************** page2***************************************8***********/
#slider,.two,
.wrap,
.slide-content {
  margin: 0;
  padding: 0;
  font-family: 'Noto Serif Display', serif;
  width: 100%;
  height: 100vh;
  overflow-x: hidden;
  font-size: 19px;
}
.wrap {
  position: relative;
  background-color: black;
}

.slide {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  transition: all 0s;
}


.slide1 {
  background-image: url("./Assets/Desktop\ -\ 2.png");
  
  Background-size: contain ;
  Background-size: 60% 70%;
  
  
}
.slide2 {
  background-image: url("./Assets/Desktop\ -\ 5.png");
  
  Background-size: contain ;
  Background-size: 60% 70%;
}
.slide3 {
  background-image: url("./Assets/Desktop\ -\ 4.png");
 
  Background-size: contain ;
  Background-size: 60% 70%;
}
.slide4 {
  background-image: url("./Assets/Desktop\ -\ 3.png");
 
  Background-size: contain ;
  Background-size: 60% 70%;
}

.slide5 {
  background-image: url("./Assets/photo-1546026423-cc4642628d2b.jfif");

  Background-size: contain ;
  Background-size: 60% 70%;
}

.slide-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.slide-content div {
  height: 52vh;
  width: 50vw;
  color:white;
  background-color: rgba(0, 0, 0, 0.63);
  padding: 10px 20px;
}

.dir-control {
 
  cursor: pointer;
  position: absolute;
  top: 50%;
  margin-top: -30px;
  width: 70px;
  height: 70px;
  z-index: 5;
}
.dir-control img{
  display: inline-block;
  width: 60px;
  height: 60px;
  font-size: 30px !important;
  color: white;
  text-align: center;
  vertical-align: bottom;
  transition: all 0.25s;
}

.dir-control:hover{
    transform: scale(1.25);
}

#dir-control-left {
  left: 0;
  margin-left: 30px;
}

#dir-control-right {
  right: 0;
  margin-right: 40px;
}
.slider-active {
  visibility: hidden;
  opacity: 0;
}
.slide.slide-is-active {
  visibility: visible;
  opacity: 1;
}

.slide-transition {
  transition: all 0.5s ease-in-out;
}


/***********************page3**********************/
.three {
  height: 100vh;
  width: 100vw;
  background-color: black;
  background-size:cover;
  display: flex;
  align-items: center;
  justify-content: center;
  
 
}

.quiz {
 font-size: 15px;
  margin-top: 10px;
  height: 30vh;
  width: 40vw;


background-color: rgb(255, 255, 255);

  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
  text-align: center;
}

.myButton {
	box-shadow: 0px 10px 14px -7px #000000;
	background:transparent;
	background-color:#000000;
	border-radius:8px;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:20px;
	font-weight:bold;
	padding:13px 32px;
	text-decoration:none;
	text-shadow:0px 1px 0px #020202;
}
.myButton:hover {
	background:linear-gradient(to bottom, #77a809 5%, #89c403 100%);
	background-color:#77a809;
}
.myButton:active {
	position:relative;
	top:1px;
}


/*******************************************************navbar**************************************/
 nav {
  z-index: 1;
  margin-top: 0;
  position:sticky;
  top:0;
  bottom: 0;
  background:black;
  height: 8vh;
  width: 100vw;
  display: flex;
  align-items: center;
  Border-bottom: 1px white solid;
  overflow:hidden;
}

.list-items {
  flex: 2;
  display: flex;
  justify-content:space-around;
}


.list {
  list-style: none;
}

.link {
  text-decoration: none;
  color: rgb(252, 249, 249);
  font-weight: bold;
  transition: 0.4s background;
}

.link:hover {
  color: #e0e40d;
} 

        
/************************************* last page**********************************************/
.blur {
  overflow: hidden;
  position: relative;
}

.blur + .blur {
  margin-top: 20px;
}

.blurry {
  background-repeat: no-repeat;
  background-position: right top;
  background-size: cover;
  content: '';
  -webkit-filter: blur(8px);
          filter: blur(8px);
  height: 100%;
  position: absolute;
  right: 0;
  top: 0;
  width: 50%;
}

.alt .blurry {
  background-position: left top;
  left: 0;
  right: auto;
}

.middle .blurry {
  background-position: center top;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

img {
  display: block;
  max-width: 100%;
}

.overlay {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: rgba(0, 0, 0, 0.4);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 20px;
  height: 100%;
  padding: 20px 120px;
  position: absolute;
  top: 0;
  right: 0;
  width: 50%;
  z-index: 1;
}

.alt .overlay {
  left: 0;
  right: auto;
}

.middle .overlay {
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.overlay h2 {
  font-size: 36px;
  margin: 0;
}
